@import url(./layout.css);
@import url(./base.css);


h2 {
    font-size: 1rem;
}

.poke--card {
    width: 6.5rem;
    height: 6.75rem;

    display: flex;
    align-items: center;
    flex-direction: column;


    box-shadow: 0px 0px 10px 0px black;
    border-radius: 1rem;
}

.poke--card img {
    width: 4.5rem;
    height: 4.5rem;
}